body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container {
  text-align: center;
  border: 1px solid grey;
  border-radius: 90px;
  padding: 30px 60px;
  margin-top: 35px;
  max-width: 1200px;
  background: white;
}

img {
  display: flex;
  width: 27%;
  margin-top: 20px;
  margin-bottom: 40px;
}

h1 {
  text-align: left;
  font-weight: lighter;
  font-size: 20px;
}

.section2 {
  font-size: 18px;
}

#Nachname {
  width: 60%;
}

#Vorname {
  width: 60%;
}

#Benutzername {
  width: 60%;
}

#Email {
  width: 60%;
}

#Kundennummer {
  width: 60%;
}

#sendenButton {
  background-color: #ea002a;
  border: #ea002a;
}
